<div data-ng-include="'../header/header.component.html'" />

  <div class="header-center">
    <div class="title">Welcome to Fidelity Bank</div>
  </div>

  <div class="header-right">
    <a href="#/login" class="link">Login</a>
  </div>
</div>
<div class="register-container" [formGroup]="registerForm">
  <div class="register-card">
    <div class="register-card-item">
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-user"></i></span>
        <input
          type="text"
          class="register-form-control"
          placeholder="First Name"
          ng-model="firstName"
          required
        />
      </div>
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-user"></i></span>
        <input
          type="text"
          class="register-form-control"
          placeholder="Last Name"
          ng-model="lastName"
        />
      </div>
    </div>
    <div class="register-card-item">
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-envelope"></i></span>
        <input
          type="email"
          class="register-form-control"
          placeholder="Email"
          ng-model="email"
        />
      </div>
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-phone"></i></span>
        <input
          type="text"
          class="register-form-control"
          placeholder="Phone Number"
          ng-model="phoneNumber"
        />
      </div>
    </div>
    <div class="register-card-item">
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-key"></i></span>
        <input
          type="password"
          class="register-form-control"
          placeholder="Password"
          ng-model="password"
        />
      </div>
      <div class="register-form-group">
        <span class="register-icon"><i class="fa fa-key"></i></span>
        <input
          type="password"
          class="register-form-control"
          placeholder="Confirm password"
          ng-model="confirmPassword"
        />
      </div>
    </div>

    <div
      class="register-form-group"
    >
      <p class="text-danger">Passwrd did not match!</p>
    </div>
    <div class="register-form-group">
      <button class="submit" [disabled]="loading" (click)="onSubmit()">
        Submit
      </button>
    </div>

    <div class="register-form-group">
      <h1 class="register link" routerLink="/login">
        Already have an account? Sign in
      </h1>
    </div>
  </div>
</div>
